*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid #064206;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E6F6FF);
}

.game-board-dark{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: black;
}


.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 500px;
    animation: clouds-animation 20s infinite linear;
}

.game-over{
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 80px;
    color: #e7c52e;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }
    
    
    100%{
         bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -500px;
    }to{
        right: 100%;
    }
}

